USE [Tarea2]
GO
/****** Object:  StoredProcedure [dbo].[ProcesamientoDiario]    Script Date: 5/23/2023 3:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[ProcesamientoDiario]
	@inRutaXML NVARCHAR(500)
	, @outResultCode INT OUTPUT
AS
BEGIN
	--BEGIN TRY
	SET NOCOUNT ON;
	DECLARE @Datos xml;
	DECLARE @Comando NVARCHAR(500)= 'SELECT @Datos = D FROM OPENROWSET (BULK '  + CHAR(39) + @inRutaXML + CHAR(39) + ', SINGLE_BLOB) AS Datos(D)' -- comando que va a ejecutar el sql dinamico
    DECLARE @Parametros NVARCHAR(500)
	DECLARE @hdoc int /*Creamos hdoc que va a ser un identificador*/

	SET @Parametros = N'@Datos xml OUTPUT'
	

	EXECUTE sp_executesql @Comando, @Parametros, @Datos OUTPUT -- ejecutamos el comando que hicimos dinamicamente

	EXEC sp_xml_preparedocument @hdoc OUTPUT, @Datos/*Toma el identificador y a la variable con el documento y las asocia*/
	DECLARE @Fechas TABLE (
			Fecha DATE
	);
	DECLARE @FechaItera DATE
			, @FechaFinal DATE
			, @EsMaestra INT; -- 0 si es FALSE, 1 si es TRUE
	DECLARE @NuevosTH TABLE (
			Id INT IDENTITY(1, 1)
			, Nombre VARCHAR(128)
			, TipoDocId VARCHAR(128)
			, ValorDocId VARCHAR(128)
			, Username VARCHAR(128)
			, Password VARCHAR(128)
			);
	DECLARE @NuevosTCM TABLE (
			Id INT IDENTITY (1, 1)
			, Codigo VARCHAR(128)
			, TipoCTM VARCHAR(128)
			, LimiteCredito MONEY
			, TarjetaHabiente VARCHAR(128)
			);
	DECLARE @NuevosTCA TABLE (
			Id INT IDENTITY (1, 1)
			, CodigoTCM VARCHAR(128)
			, CodigoTCA VARCHAR(128)
			, TarjetaHabiente VARCHAR(128)
			);
	DECLARE @NuevosTCATemp TABLE (
			IdCTA INT
			, CodigoTCA VARCHAR(128)
			);
	DECLARE @NuevosTF TABLE (
			Codigo VARCHAR(128)
			, CodigoCT VARCHAR(128)
			, FechaVencimiento VARCHAR(128)
			, CVV INT
			);
	DECLARE @NuevosMovimientos TABLE (
			Nombre VARCHAR(128)
			, TF VARCHAR(128)
			, FechaMovimiento DATE
			, Monto MONEY
			, Descripcion VARCHAR(128)
			, Referencia VARCHAR(128)
			, NuevaTF VARCHAR(128)
			);
	
	--BEGIN TRY
	-- Se extraen todas las fechas --
	INSERT INTO @Fechas
		(
		[Fecha]
		)
	SELECT 
		fechaOP.Fecha
	FROM OPENXML (@hdoc, '/root/fechaOperacion', 1)
	WITH
		(
		Fecha DATE
		) AS fechaOP
	
	SELECT @FechaItera = MIN(F.Fecha)
	FROM @Fechas F

	SET @FechaFinal = CONVERT(DATE, '2023-06-04')

	WHILE (@FechaItera < @FechaFinal)
	BEGIN
	/*######################## DATOS DE OPERACION PARA FECHA ITERA ########################*/

		/*-----------------------INSERTAR NUEVOS TH-------------------*/
		INSERT INTO @NuevosTH
				(
				[Nombre]
				, [TipoDocId]
				, [ValorDocId]
				, [Username]
				, [Password]
				)
		SELECT 
			T.Item.value('@Nombre', 'VARCHAR(128)'),
			T.Item.value('@Tipo_Doc_Identidad', 'VARCHAR(128)'),
			T.Item.value('@Valor_Doc_Identidad', 'VARCHAR(128)'),
			T.Item.value('@NombreUsuario', 'VARCHAR(128)'),
			T.Item.value('@Password', 'VARCHAR(128)')
		FROM @Datos.nodes('/root/fechaOperacion[@Fecha = sql:variable("@FechaItera")]/TH/TH') AS T(Item);
		
		INSERT INTO [dbo].[TarjetaHabiente]
					(
					[IdTipoDocId]
					, [Nombre]
					, [ValorDocId]
					, [Username]
					, [Password]
					)
		SELECT
			TD.Id
			, NTH.Nombre
			, NTH.ValorDocId
			, NTH.Username
			, NTH.Password
		FROM @NuevosTH NTH
		INNER JOIN [dbo].[TipoDocId] TD ON TD.Nombre = NTH.TipoDocId
		
		DELETE @NuevosTH

		/*-----------------------INSERTAR NTCM-------------------*/
		INSERT INTO @NuevosTCM
					(
					[Codigo]
					, [TipoCTM]
					, [LimiteCredito]
					, [TarjetaHabiente]
					)
		SELECT 
			T.Item.value('@Codigo', 'VARCHAR(128)'),
			T.Item.value('@TipoCTM', 'VARCHAR(128)'),
			T.Item.value('@LimiteCredito', 'MONEY'),
			T.Item.value('@TH', 'VARCHAR(128)')
		FROM @Datos.nodes('/root/fechaOperacion[@Fecha = sql:variable("@FechaItera")]/NTCM/NTCM') AS T(Item);

		SET @EsMaestra = 1;
		
		INSERT INTO [dbo].[CuentaTarjeta]
					(
					[IdTarjetaHabiente]
					, [IdTipoCuentaTarjeta]
					, [Codigo]
					, [EsMaestra]
					, [FechaCreacion]
					)
		SELECT
			TH.Id
			, TCT.Id
			, NTCM.Codigo
			, @EsMaestra
			, @FechaItera
		FROM @NuevosTCM NTCM
		INNER JOIN [dbo].[TarjetaHabiente] TH ON TH.ValorDocId = NTCM.TarjetaHabiente
		INNER JOIN [dbo].[TipoCuentaTarjeta] TCT ON TCT.Nombre = NTCM.TipoCTM

		INSERT INTO [dbo].[CuentaTarjetaMaestra]
					(
					[IdCuentaTarjeta]
					, [LimiteCredito]
					, [Saldo]
					, [InteresAcumuladoCorriente]
					, [InteresAcumuladoMoratorio]
					)
		SELECT 
			CT.Id
			, NTCM.LimiteCredito
			, 0
			, 0
			, 0
		FROM @NuevosTCM NTCM
		INNER JOIN [dbo].[CuentaTarjeta] CT ON CT.Codigo = NTCM.Codigo

		DELETE @NuevosTCM

		/*-----------------------INSERTAR NTCA-------------------*/
		INSERT INTO @NuevosTCA
					(
					[CodigoTCM]
					, [CodigoTCA]
					, [TarjetaHabiente]
					)
		SELECT 
			T.Item.value('@CodigoTCM', 'VARCHAR(128)'),
			T.Item.value('@CodigoTCA', 'VARCHAR(128)'),
			T.Item.value('@TH', 'VARCHAR(128)')
		FROM @Datos.nodes('/root/fechaOperacion[@Fecha = sql:variable("@FechaItera")]/NTCA/NTCA') AS T(Item);

		SET @EsMaestra = 0;

		INSERT INTO [dbo].[CuentaTarjeta]
					(
					[IdTarjetaHabiente]
					, [IdTipoCuentaTarjeta]
					, [Codigo]
					, [EsMaestra]
					, [FechaCreacion]
					)
		SELECT
			TH.Id
			, CT.IdTipoCuentaTarjeta
			, NTCA.CodigoTCA
			, @EsMaestra
			, @FechaItera
		FROM @NuevosTCA NTCA
		INNER JOIN [dbo].[TarjetaHabiente] TH ON TH.ValorDocId = NTCA.TarjetaHabiente
		INNER JOIN [dbo].[CuentaTarjeta] CT ON CT.Codigo = NTCA.CodigoTCM


		DELETE @NuevosTCATemp
		INSERT INTO @NuevosTCATemp -- Se inserta para poder mapear el id de la instancia CuentaTarjetaAdicional
					(
					[IdCTA]
					, [CodigoTCA]
					)
		SELECT 
			CT.Id
			, CT.Codigo
		FROM @NuevosTCA NTCA
		INNER JOIN [dbo].[TarjetaHabiente] TH ON TH.ValorDocId = NTCA.TarjetaHabiente
		INNER JOIN [dbo].[CuentaTarjeta] CT ON TH.Id = CT.IdTarjetaHabiente 


		INSERT INTO [dbo].[CuentaTarjetaAdicional]
					(
					[IdCuentaTarjeta]
					, [IdCuentaTarjetaMaestra]
					)
		SELECT 
			NTCATemp.IdCTA
			, CT.Id
		FROM @NuevosTCA NTCA
		INNER JOIN [dbo].[CuentaTarjeta] CT ON CT.Codigo = NTCA.CodigoTCM
		INNER JOIN @NuevosTCATemp NTCATemp ON NTCATemp.CodigoTCA = NTCA.CodigoTCA

		DELETE @NuevosTCA
		
		/*-----------------------INSERTAR NTF-------------------*/
		INSERT INTO @NuevosTF
					(
					[Codigo]
					, [CodigoCT]
					, [FechaVencimiento]
					, [CVV]
					)
		SELECT 
			T.Item.value('@Codigo', 'VARCHAR(128)'),
			T.Item.value('@TCAsociada', 'VARCHAR(128)'),
			T.Item.value('@FechaVencimiento', 'VARCHAR(128)'),
			T.Item.value('@CCV', 'INT')
		FROM @Datos.nodes('/root/fechaOperacion[@Fecha = sql:variable("@FechaItera")]/NTF/NTF') AS T(Item);

		INSERT INTO [dbo].[TarjetaFisica]
					(
					[IdCuentaTarjeta]
					, [Codigo]
					, [AnnoVence]
					, [MesVence]
					, [CVV]
					, [Pin]
					, [FechaEmision]
					, [FechaInvalidacion]
					)
		SELECT
			CT.Id
			, NTF.Codigo
			, CAST(RIGHT(NTF.FechaVencimiento, 4) AS INT)
			, CAST(LEFT(NTF.FechaVencimiento, CHARINDEX('/', NTF.FechaVencimiento) - 1) AS INT)
			, NTF.CVV
			, 0
			, @FechaItera
			, CONVERT(DATE, '1/' + NTF.FechaVencimiento, 103)
		FROM @NuevosTF NTF
		INNER JOIN [dbo].[CuentaTarjeta] CT ON CT.Codigo = NTF.CodigoCT

		DELETE @NuevosTF

		/*-----------------------INSERTAR MOVIMIENTOS-----------------------*/
		INSERT INTO @NuevosMovimientos
					(
					[Nombre]
					, [TF]
					, [FechaMovimiento]
					, [Monto]
					, [Descripcion]
					, [Referencia]
					, [NuevaTF]
					)
		SELECT 
			T.Item.value('@Nombre', 'VARCHAR(128)'),
			T.Item.value('@TF', 'VARCHAR(128)'),
			T.Item.value('@FechaMovimiento', 'DATE'),
			T.Item.value('@Monto', 'MONEY'),
			T.Item.value('@Descripcion', 'VARCHAR(128)'),
			T.Item.value('@Referencia', 'VARCHAR(128)'),
			T.Item.value('@NuevaTF', 'VARCHAR(128)')
		FROM @Datos.nodes('/root/fechaOperacion[@Fecha = sql:variable("@FechaItera")]/Movimiento/Movimiento') AS T(Item);
	
		DECLARE @IdCuentaTarjetaTEMP INT;
		DECLARE @IdTipoMovimientoTEMP INT;

		/*SET @IdCuentaTarjetaTEMP = (SELECT 
										CT.Id
									FROM [dbo].[TarjetaFisica] TF
									INNER JOIN @NuevosMovimientos NM ON NM.TF = TF.Codigo
									INNER JOIN [dbo].[CuentaTarjeta] CT ON CT.Id = TF.IdCuentaTarjeta)

		SET @IdTipoMovimientoTEMP = (SELECT
									TM.Id
								FROM [dbo].[TipoMovimiento] TM
								INNER JOIN @NuevosMovimientos NM ON NM.Nombre = TM.Nombre)*/
		/*SELECT
			@IdCuentaTarjetaTEMP AS IdCuentaTarjeta
			, NM.TF AS TarjetaFisica
		FROM @NuevosMovimientos NM*/

		SELECT 
			CT.Id AS CuentaTarjetaID
		FROM [dbo].[TarjetaFisica] TF
		INNER JOIN @NuevosMovimientos NM ON NM.TF = TF.Codigo
		INNER JOIN [dbo].[CuentaTarjeta] CT ON CT.Id = TF.IdCuentaTarjeta

		SELECT * FROM TarjetaFisica
		SELECT * FROM CuentaTarjeta
		/*IF ((SELECT 
				CT.EsMaestra
			FROM [dbo].[CuentaTarjeta] CT
			WHERE CT.Id = @IdCuentaTarjetaTEMP) = 1) --Es maestra
		BEGIN
			
			DECLARE @IdEstadoCuentaTEMP INT;
			SET @IdEstadoCuentaTEMP = (SELECT
										EC.Id
									FROM [dbo].[EstadoCuenta] EC
									WHERE (EC.Id = @IdCuentaTarjetaTEMP))
			INSERT INTO [dbo].[Movimiento]
					(
					[IdCuentaTarjeta]
					, [IdEstadoCuenta]
					, [IdTarjetaFisica]
					, [IdTipoMovimiento]
					, [Descripcion]
					, [Fecha]
					, [Monto]
					, [Referencia]
					, [NuevoSaldo]
					, [NuevaTF]
					)
			SELECT 
				@IdCuentaTarjetaTEMP
				, @IdEstadoCuentaTEMP
				, TF.Id
				, @IdTipoMovimientoTEMP
				, NM.Descripcion
				, @FechaItera
				, NM.Monto
				, NM.Referencia
				, 0
				, NULL
			FROM @NuevosMovimientos NM
			INNER JOIN [dbo].[TarjetaFisica] TF ON TF.Codigo = NM.TF

		END;

		ELSE
		BEGIN
			
			DECLARE @IdSubestadoCuentaTEMP INT;
			SET @IdSubestadoCuentaTEMP = (SELECT
											SC.Id
										FROM [dbo].[SubestadoCuenta] SC
										WHERE (SC.IdCuentaTarjetaAdicional = @IdCuentaTarjetaTEMP))

			INSERT INTO [dbo].[Movimiento]
					(
					[IdCuentaTarjeta]
					, [IdSubestadoCuenta]
					, [IdTarjetaFisica]
					, [IdTipoMovimiento]
					, [Descripcion]
					, [Fecha]
					, [Monto]
					, [Referencia]
					, [NuevoSaldo]
					, [NuevaTF]
					)
			SELECT
				@IdCuentaTarjetaTEMP
				, @IdSubestadoCuentaTEMP
				, TF.Id
				, @IdTipoMovimientoTEMP
				, NM.Descripcion
				, @FechaItera
				, NM.Monto
				, NM.Referencia
				, 0
				, NULL
			FROM @NuevosMovimientos NM
			INNER JOIN [dbo].[TarjetaFisica] TF ON TF.Codigo = NM.TF

		END;*/
			
		DELETE @NuevosMovimientos

		SELECT @FechaItera = MIN(F.Fecha)
		FROM @Fechas F
		WHERE F.Fecha > @FechaItera;
	END;
	/*END TRY
	
	BEGIN CATCH
		INSERT INTO dbo.DBErrors	
		VALUES (
				SUSER_SNAME(),
				ERROR_NUMBER(),
				ERROR_STATE(),
				ERROR_SEVERITY(),
				ERROR_LINE(),
				ERROR_PROCEDURE(),
				ERROR_MESSAGE(),
				GETDATE()
			);

			SET @outResultCode=50005; -- Error en el try-catch
	END CATCH*/

	EXEC sp_xml_removedocument @hdoc/*Remueve el documento XML de la memoria*/
	--SELECT * FROM @NuevosTH

END;